<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='read_style.css') }}">
    <title>TV Shows</title>
</head>
<body>
    <header class="header">
        <div class="welcome">
            <h2>Howdy, {{this_user.first_name}}!</h2>
        </div>
        <div class="nav">
            <a href="/user/logout">
                <button>Logout</button>
            </a>
        </div>
    </header>
    <div class="container">
        <div>
            <h2>All TV Shows</h2>
            <table id="shows">
                <tr>
                    <th>Title</th>
                    <th>Network</th>
                    <th>Release Date</th>
                    <th>Actions</th>
                </tr>
                {% for show in all_shows %}    
                <tr>
                    <td>{{show.title}}</td>
                    <td>{{show.description}}</td>
                    <td>{{show.release_date}}</td>
                    <td>
                        <a href="/show/display/{{show.id}}">show</a>
                        <a href="/show/edit/{{show.id}}">edit</a>
                        <a href="/show/delete/{{show.id}}">delete</a>
                    </td>
                {% endfor %}
                </tr> 
            </table>
            <a href="/show/form", method="post">
                <button>Add a New Show</button>
            </a>
        </div>
    </div>
</body>
</html>